.food-thumbnails{
	display: inline-flex;
}

.thumbnail-wrapper{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	overflow: hidden;
	display: flex;
	margin: 5px;
}

.thumbnail-wrapper img{
	width: 100%;
	height: auto;
}

.btn-primary {
	margin: 5px;
	background-color: #ee4036;
	border-color: #ee4036;
}