div.left.foodcontainer {
	margin: 10px;
	float: left;
	max-height: 295px;
	max-height: 295px;
}

.food-description {
	float: right;
	width: 15rem;
}

.card {
	float:right;
	width: 20rem;
}

p {
	font-size: 12px;
}
