.btn-primary {
	margin: 5px;
}

.mt-4, .my-4 {
    margin-left: 10px;
}

.button-menu {
	margin-left: 0px;
	float: right;
}

img {
	width: 18em;
	float:left;
}

.food-thumbnails {
    display: -ms-inline-flexbox;
    display: inline-flex;
    float:right;
}

.menuSelection.mb-4 {
	float: right;
	width: 55%;
	margin-right: 20px;
}

.slick-next:before, .slick-prev:before {
	font-size: 0px;
	line-height: 1; 
	opacity: .75;
	color: #fff;
}

